@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
nav ul {
    width: 100%;
    text-align: center;
    margin-top: 3%;
}
.menuButtons li {
    list-style: none;
    display: inline-block; 
    
}
.menuButtons a {
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: hsla(240, 50%, 50%, 0.3);
    text-decoration: none;
    font-family: 'Rubik Microbe',sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: hsla(240, 90%, 0%, 0.7);
    transition: background-color 250ms;
}
.menuButtons a:hover {
    background-color: hsla(240, 60%, 45%, 0.4);
}
.menuButtons a:active {
    background-color: hsla(240, 35%, 60%, 0.4);
    font-size: 1.9rem;
}

/* Calculator Design IOS */
section.container {
    width: 100%;
    display: flex;
    
    /* margin-top: 10%; */
    /* background-color: #333333; */
    justify-content: center;
}
section.calc {
    flex: 0 0 375px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25px 265px repeat(5, 75px);
    border: 1px solid black;
}

nav.topBar {
    grid-column-start: 1;
    grid-column-end: 5; 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center; 
    
}
section.resultContainer {
    justify-self: stretch;
    align-self: stretch;
    background-color: black;
    color: white;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

}
section.resultNumber {
    grid-row-start: 4;
    font-family: "Roboto", sans-serif;
    font-size: 3.5rem;
    color: white;
    font-weight:lighter;
    justify-self: end;
    align-self: end;
}
.dot {
    color: red;
    font-size: 2rem;
}
img.flightModeIcon {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    height: 20px;
}
img.wifiIcon {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    height: 20px;
}
img.lteIcon {
    grid-column-start: 3;
    grid-row-start: 1;
    height: 20px;
}
section.charge {
    grid-column-start: 11;
    font-size: 0.7rem;
}
img.batteryIcon {
    grid-column-start: 12;
    grid-row-start: 1;
    height: 20px;
}
img.misscallIcon {
    grid-column-start: 10;
    grid-row-start: 1;
    height: 20px;
}

section.time {
    grid-column-start: 6;
    grid-column-end: 8;
    font-size: 0.7rem;
}

section.button {
    border: 1px rgba(94, 94, 94, 0.9) solid;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: lighter;
    text-align: center;
    
}

.gray-butts {
    background-color: rgb(139, 139, 139);
    opacity: 0.8;
}
.red-butts {
    background-color: hsl(26, 83%, 52%);
    /* opacity: 0.8; */
}
.digits {
    background-color: rgb(196, 195, 195);
    opacity: 0.8;
}
section.zero {
    text-align: center; 
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(196, 195, 195);
    border: 1px rgba(94, 94, 94, 0.9) solid;
    opacity: 0.8;
    
}
.gray-butts:hover {
    cursor: pointer;
    opacity: 1;
}
.gray-butts:active {
    opacity: 0.8;
    cursor: pointer;
    font-size: 1.4rem;
}
.red-butts:hover {
    opacity: 0.9;
    cursor: pointer;
}
.red-butts:active {
    font-size: 1.4rem;
    opacity: 0.8;

}
.digits:hover {
    opacity: 1;
    cursor: pointer;
}
.digits:active {
    opacity: 0.8;
    font-size: 1.4rem;
}
